fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
asyncpg==0.29.0
xls2xlsx
openpyxl
requests
apscheduler
python-jose[cryptography]  # Для JWT
passlib==1.7.4
bcrypt==4.1.2          # Для хеширования паролей